/* ========================= */
/* = Define Custom Colours = */
/* ========================= */

@define-color fg0 #faf3ec;
@define-color fg1 #ede8d0;
@define-color fg2 #e1ddb4;
@define-color fg3 #d4d197;
@define-color fg4 #c8c67b;
@define-color fg5 #bbbb5f;
@define-color bg0 #080a09;
@define-color bg1 #191610;
@define-color bg2 #2a2216;
@define-color bg3 #3b2d1d;
@define-color bg4 #4c3923;
@define-color bg5 #5d452a;
@define-color bright_red #b5545f;
@define-color bright_yellow #e8ad5a;
@define-color bright_green #a8ba5a;
@define-color bright_cyan #58ab84;
@define-color bright_blue #7a9dbf;
@define-color bright_purple #c27dc0;
@define-color dark_red #7d3347;
@define-color dark_yellow #946433;
@define-color dark_green #587338;
@define-color dark_cyan #2d6963;
@define-color dark_blue #405e87;
@define-color dark_purple #824979;

/* ======================== */
/* = Set Universal Styles = */
/* ======================== */

* {
    font-family: RecMonoLinear Nerd Font Propo, monospace;
    font-size: 16px;

    border-width: 2px;
    border-radius: 2px;
}

/* ====================================== */
/* = Make Waybar Background Transparent = */
/* ====================================== */

window#waybar {
    background-color: alpha(#000000, 0);
}

window#waybar > * {
    background-color: @bg1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ========================= */
/* = Generic Widget Styles = */
/* ========================= */

.modules-left,
.modules-right,
.modules-center {
    padding: 4px;
}
.modules-left {
    margin-left: 16px;
}
.modules-right {
    margin-right: 16px;
}

widget > *:not(#workspaces) {
    padding: 0 12px;
}

/* ============== */
/* = Workspaces = */
/* ============== */

#workspaces {
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @fg1;
    border-radius: 0;
    border-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;

    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0.75, 0.25, 1);
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    border: inherit;
    border-color: transparent;
    background: none;
    transition: none;
}

#workspaces button.active {
    padding: 0 12px;
    background-color: @fg1;
    color: @bg1;
    border-radius: 8px;
}

#workspaces button.urgent {
    color: @bright_red;
}

/* ===================== */
/* = Left Side Modules = */
/* ===================== */

#clock {
    color: @bright_green;
}

#disk {
    color: @bright_blue;
}

#temperature {
    color: @bright_yellow;
}

#temperature.critical {
    color: @bright_red;
}

/* ====================== */
/* = Right Side Modules = */
/* ====================== */

#pulseaudio {
    color: @bright_cyan;
}

#pulseaudio.muted {
    color: @dark_blue;
}

#network {
    color: @bright_green;
}

#network.disconnected {
    color: @bright_red;
}
